
.input{
    margin-left: 200px;
    padding: 3px;
}
.button{
    margin: 10px;
    padding: 3px;
}
.accordion-item:first-of-type .accordion-button {
    background: turquoise;
    border: 1px solid black;
}

/* .accordion-button:not(.collapsed){
    background-color: violet;
} */
